.progressify-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.5em;
    width: 100%;
    background-color: #ddd;
}

.progressify-value {
    position: relative;
    background-color: #ccc;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;

    &.position-bottom,
    &.position-top {
        height: 100%;
    }

    &.position-right,
    &.position-left {
        width: 100%;
    }
}

.progressify {
    
    position: fixed;

    &-bottom {
        bottom: 0;
    }

    &-top {
        top: 0;
    }

    &-left {
        left: 0;
    }

    &-right {
        right: 0;
    }

}